{% extends "base.html" %}

{% block title %}{{ ad.title }}{% endblock %}

{% block metatags %}
<meta name="description" content="{{ ad.description }}"/>
<meta property="og:locale" content="bg_BG" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ ad.title }}" />
<meta property="og:description" content="{{ ad.description }}" />
<meta property="og:url" content="/{{ ad._id }}" />
<meta property="og:site_name" content="Наемател" />
{% for img in ad.local_images %}
<meta property="og:image" content="/img/{{img.path}}" />
{% endfor %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ ad.description }}" />
<meta name="twitter:title" content="{{ ad.title }}" />
{% if ad.local_images and  ad.local_images.length %}
<meta name="twitter:image" content="/img/{{ad.local_images[0].path}}" />
{% endif %}
{% endblock %}

{% block headlinks %}
<link rel="amphtml" href="/amp/{{ ad._id }}">
{% endblock %}

{% block schemascript %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Offer",
  "price": "{{ ad.price_euro }}",
  "priceCurrency": "EUR",
  "name": "{{ ad.title|safe }}",
  "description" : "{{ ad.description|safe }}",
  {% if ad.images[0] %}
  "image": "{{ ad.images[0]|safe }}",
  {% endif %}
  "validFrom": "{{ ad.time }}",
  "potentialAction": {
    "@context": "http://schema.org",
    "@type": "RentAction"
  }
}
</script>
{% endblock %}

{% block app %}
<div style="margin-bottom: .5em">
  <a href="/">Обратно към всички обяви</a>
</div>
{{ markup|safe }}
{% endblock %}
