<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Наемател</title>
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
      body {
        font-family: Roboto, sans-serif;
        margin: 1em;
      }
      a:link, a:visited {
        color: rgba(0, 0, 0, 0.87);
      }
      a:hover {
        color: rgba(100, 100, 100, 0.87);
      }
    </style>
    <script src='/js/vendor.bundle.js' ></script>
  </head>
  <body>
    {% block app %}{% endblock %}
  </body>
</html>
